<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
   <a class="navbar-brand" href="<%= root_path %>">
      <img src="https://cdn.pixabay.com/photo/2012/05/07/18/53/card-game-48983_960_720.png" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <strong><%= link_to "Info of Decks", decks_path, class: "nav-link" %></strong>
          </li>
          <li class="nav-item">
          <strong><%= link_to "Game vs John@KI", new_vs_ai_games_path, class: "nav-link" %></strong>
          </li>
          <li class="nav-item">
          <strong><%= link_to "Game vs Player", new_vs_p_games_path, class: "nav-link" %></strong>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn.pixabay.com/photo/2016/08/28/13/12/secondlife-1625903_960_720.jpg" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="<%= destroy_user_session_path %>">Log out</a>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= form_with url: user_session_path, local: true, class: 'form-inline' do |form| %>
              <%= form.submit 'Login', class: 'btn btn-danger my-2 my-sm-0' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
