<h1>Neues Spiel starten</h1>

<%= form_with(model: @game, local: true) do |form| %>
  <div class="field">
    <%= form.label :opponent_id, 'Gegner auswählen' %>
    <%= form.collection_select :opponent_id, @players, :id, :email, prompt: 'Wähle einen Spieler' %>
  </div>

  <div class="actions">
    <%= form.submit 'Spiel starten' %>
  </div>
<% end %>

<%= link_to 'Zurück zur Spieleliste', games_path %>
